.comment-list-enter {
    opacity: 0.01;
}

.comment-list-enter.comment-list-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.comment-list-leave {
    opacity: 1;
}

.comment-list-leave.comment-list-leave-active {
    opacity: 0.01;
    transition: opacity 500ms linear;
}
